<div id="form">
    <h2 id="seccion">INFORMACION BASICA</h2>
    <hr color="darkcyan">
    <form [formGroup]="FormularioBasico" action="">
        <br>
        <input type="text" formControlName="nombre" id="controls_1" placeholder="Nombre completo" [(ngModel)]="nombre">
        <input type="text" formControlName="ci" id="controls_2" placeholder="CI" [(ngModel)]="ci">
        <input type="text" formControlName="nro" id="controls_3" placeholder="Num. empleado" >
        <br>
        <label id="txt2"> Area de trabajo: </label>
        <br>
        <input type="radio" formControlName="area" value="DG" id="radio" [(ngModel)]="area"><label >Direccion General</label>
        <input type="radio"  formControlName="area" value="RH" id="radio" [(ngModel)]="area"><label for="">Recursos humanos</label>
        <input type="radio" formControlName="area" value="FC" id="radio" [(ngModel)]="area"><label for="">Finanza Contabilidad</label><br>
        <input type="radio"  formControlName="area" value="M" id="radio" [(ngModel)]="area"><label for="">Marketing</label>
        <input type="radio"  formControlName="area" value="I" id="radio" [(ngModel)]="area"><label for="">Informatica</label>
        <input type="radio"  formControlName="area" value="P" id="radio" [(ngModel)]="area"><label for="">Produccion</label><br><br>

        <input type="text" formControlName="profesion" id="controls_1" placeholder="Profesion o especialidad" [(ngModel)]="profesion">
        <input type="text" formControlName="añoT" id="controls_3" placeholder="Años trabajo" [(ngModel)]="aT">
        <br>
        <label for="" id="txt2">Genero: </label>
        <input type="radio"  formControlName="g" id="radio" value="hombre" [(ngModel)]="g">Hombre
        <input type="radio"  formControlName="g" id="radio" value="mujer" [(ngModel)]="g">Mujer
        <br>

        <button type="submit" id="boton" (click)="formB()" [disabled]="FormularioBasico.invalid">Enviar</button>
    </form>
    <div>Valido: {{FormularioBasico.valid | json}}</div>
    

    <h2 id="seccion">INFORMACION SEGURO MEDICO</h2>
    <hr color="darkcyan">
    <form [formGroup]="FormularioSeguro" action="">
        <input type="number" formControlName="peso" id="controls_3" placeholder="Peso" [(ngModel)]="peso">
        <input type="number" formControlName="estatura" id="controls_3" placeholder="Estatura" [(ngModel)]="estatura"><br>
        <label for="" id="txt2">Presion sistolica</label><input type="text" formControlName="pS" id="controls_3" placeholder="" [(ngModel)]="pS">
        
        <label for="" id="txt2">Presion distolica</label><input type="text" formControlName="pD" id="controls_3" placeholder="" [(ngModel)]="pD">
        <br>
        <label for="" id="txt2">Enfermedades Base</label>
        <br>
        <input type="checkbox"  formControlName="eR" id="radio">Enfermedad respiratoria
        <input type="checkbox"  formControlName="eC" id="radio">Enfermedad cardiovascular
        <input type="checkbox"  formControlName="eRl" id="radio">Enfermedad renal
        <input type="checkbox"  formControlName="eCs" id="radio">Enfermedad cardiacas
        <input type="checkbox"  formControlName="eI" id="radio">Enfermedad inmunodeprimidas
        <br>
        <input type="checkbox"  formControlName="eH" id="radio">Enfermedad hepaticas
        <input type="checkbox"  formControlName="o" id="radio">Otras
        <br>
        <button type="submit" id="boton" (click)="formSeg()" [disabled]="FormularioSeguro.invalid" >Enviar</button>
    </form>
    <div>Valido: {{FormularioSeguro.valid | json}}</div>

    <h2 id="seccion">EXAMEN DE SANGRE</h2>
    <hr color="darkcyan">
    <form [formGroup]="FormularioExamenS" action="">
        <br>
        <label for="" id="txt2">Tipo de Sangre</label>
        <br>
        <input type="radio"  formControlName="t" value="a" id="radio" [(ngModel)]="t" value="Tipo A">Tipo A
        <input type="radio"  formControlName="t" value="b" id="radio" [(ngModel)]="t" value="Tipo B">Tipo B
        <input type="radio"  formControlName="t" value="ab" id="radio" [(ngModel)]="t" value="Tipo AB">Tipo AB
        <input type="radio"  formControlName="t" value="o" id="radio" [(ngModel)]="t" value="Tipo O">Tipo O
        <br><br>
        <label for="" id="txt2">Nivel Glucosa en la sangre</label> <input type="text" formControlName="nG" id="controls_3" placeholder="" [(ngModel)]="nG">
        <br>

        <button type="submit" id="boton" (click)="formS()" [disabled]="FormularioExamenS.invalid">Enviar</button>
    </form>
    <div>Valido: {{FormularioExamenS.valid | json}}</div>

    <h2 id="seccion">INFORMACION CONTACTOS</h2>
    <hr color="darkcyan">
    <form [formGroup]="FormularioContactos" action="">
        <input type="text" formControlName="tel" id="controls_2" placeholder="Telefono" [(ngModel)]="tel">
        <input type="email" formControlName="co" id="controls_2" placeholder="Email" [(ngModel)]="co">

        <button type="submit" id="boton" (click)="formC()" [disabled]="FormularioContactos.invalid">Enviar</button>
    </form>
    <div>Valido: {{FormularioContactos.valid | json}}</div>
</div>